body{
	font-family: "main";
	text-align: "center";
}
header h1{
	font-family: "logofont";
}
@font-face {
  font-family: main;
  src: url(Fonts/Swansea.ttf);
}
@font-face {
  font-family: logofont;
  src: url(Fonts/Amsterdam.ttf);
}