body{
	font-family: sans-serif;
	text-align: center;
	background-color: #6a89cc;
	color: #e58e26;
}
header{
	padding-top: 25px;
}
header h1{
	font-family: "main";
}
@font-face {
  font-family: main;
  src: url(Fonts/BillionDreams.ttf);
}