body{
	font-family: main;
	text-align: center;
	background-color: #fa8231;
	color: #CC5200;
}
header{
	padding-top: 25px;
}
header h1{
	font-family: main;
	font-weight: bold;
	font-size: 55px;
	letter-spacing: 1.5px;
	color: black;
	-webkit-text-fill-color: #F56200; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #8F3900;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
header h5{
}
article{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 75%;
}
article section{
	display: flex;
	flex-direction: column;
	background-color: #FD9A49; 
	width: 31%;
	margin-right: 2%;
	text-align: center;
}
article section a{
	margin: auto;
	width: 32%;
	padding: 6% 1%;
	text-decoration: none;
	font-weight: bold;
	color: #CC5200;
}
article section img{
	display: inline-block;
	margin: auto;
}
@font-face {
  font-family: main;
  src: url(Fonts/UbuntuMono.ttf);
}
@font-face {
  font-family: main;
  src: url(Fonts/UbuntuMonoBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: main;
  src: url(Fonts/UbuntuMonoBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: main;
  src: url(Fonts/UbuntuMonoItalic.ttf);
  font-style: italic;
}